.item-menu{
    display: flex;
    background: var(--bgItem);
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: all 0.4s ease;
}
.item-menu svg{
    color: var(--textPrimary);
    height: 50%;
    transition: all 0.4s ease;
}
.item-menu span{
    display: none;
    color: var(--textPrimary);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.4s ease;
}
.item-menu:hover{
    background: var(--hoverButton);
    transition: all 0.4s ease;
}