.layout-dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
  background: var(--bgApp);
  justify-content: center;
  align-items: center;
}
.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 98%;
  border-radius: 10px;
}