.container-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-top-right-radius: 10px;
    margin-left: 5px;
    height: min-content;
    width: -webkit-fill-available;
    background: var(--bgHeader);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}
.header-path{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.header-profile{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
}
.header-profile h1{
    color: var(--textPrimary);
    font-size: 16px;
    font-weight: 500;
}
.header-view-option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}