.home-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 5px;
  height: 100%;
  width: -webkit-fill-available;
  background: linear-gradient(
    180deg,
    rgba(0, 122, 255, 0.7) 0%,
    rgba(7, 91, 201, 0.6) 20%,
    rgba(2, 2, 104, 0.8) 40%,
    #0c0c0c 60%,
    #030303 80%
  );
}
